.malinky-ajax-paging-ajax-loader {
	display: block;
	width: 100px;
	height: 100px;
    margin-top: 20px;
}

.malinky-ajax-paging a {
	text-decoration: none;
}

.malinky-ajax-paging a:hover,
.malinky-ajax-paging a.active {
	text-decoration: underline;
}

.malinky-ajax-paging-saved-settings {
	display: inline-block;
	margin-bottom: 15px;
}

.malinky-ajax-paging .form-table {
    margin-bottom: 40px;
}

.malinky-ajax-paging .button-delete {
	background: #d9534f;
	border-color: #d43f3a;
	box-shadow: inset 0 1px 0 rgba(226,107,102,.5),0 1px 0 rgba(0,0,0,.15);	
}

.malinky-ajax-paging .button-delete:hover,
.malinky-ajax-paging .button-delete:focus,
.malinky-ajax-paging .button-delete:active {
	background: #ca403c;
	border-color: #d43f3a;
	box-shadow: inset 0 1px 0 rgba(219,89,84,.5),0 1px 0 rgba(0,0,0,.15);
}

p.submit {
	float: right;
	padding-top: 0;
	margin-top: 0;
}