.malinky-ajax-pagination {
	margin-top: 20px;
	padding: 20px 20px 50px 20px;
}

.malinky-ajax-pagination.postbox .form-table {
	padding-bottom: 40px;
	border-bottom: 1px solid #e1e1e1;	
	margin: 0 0 40px 0;
}

.malinky-ajax-pagination .form-table tr:last-child th:last-child,
.malinky-ajax-pagination .form-table tr:last-child td:last-child {
	padding-bottom: 40px;
}

.malinky-ajax-pagination a {
	text-decoration: none;
}

.malinky-ajax-pagination a:hover,
.malinky-ajax-pagination a.active {
	text-decoration: underline;
}

.malinky-ajax-pagination-ajax-loader {
	display: block;
	width: 80px;
	height: 80px;
    margin: 20px 0 20px 0;
}

.malinky-ajax-pagination .button-delete {
    background: #d9534f;
    border-color: #d43f3a #c03834 #c03834;
    box-shadow: 0 1px 0 #c03834;
    color: #fff;
    text-shadow: 0 -1px 1px #c03834,1px 0 1px #c03834,0 1px 1px #c03834,-1px 0 1px #c03834;	
}

.malinky-ajax-pagination .button-delete:hover,
.malinky-ajax-pagination .button-delete:focus,
.malinky-ajax-pagination .button-delete:active {
    background: #e25752;
    border-color: #c03834;
    box-shadow: 0 1px 0 #c03834;
	text-decoration: none;
}

.malinky-ajax-pagination .button-delete:active {
    -webkit-box-shadow: inset 0 2px 0 #e25752;
    box-shadow: inset 0 2px 0 #e25752;
    vertical-align: top;
}

.malinky-ajax-pagination .submit {
	float: right;
	padding-top: 0;
	margin-top: 0;
}

.malinky-ajax-pagination .checkbox-margin {
    margin-top: 7px;
}